.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.api_card,
.card_no_link,
.card_with_link {
  font-family: "DM Sans", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-width: 1px;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-foundations-subtle, #E5E6E9);
  background: var(--background-foundations-default, #FFF);
}

/* Hover styles for cards with link */
.card_with_link:hover {
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Focus styles for cards with link */
.card_with_link:focus {
  border: 2px solid var(--border-info-bold, #006ECF) !important;
}

.api_card_title, .card_with_link .card_title, .card_no_link .card-title {
  width: 100%;
  display: flex;
  gap: 10px;
}

.card_no_link .card-title {
  justify-content: start;
}

/* Styles for card titles */
.api_card_title h3,
.card_no_link .card-title h3,
.card_with_link .card_title h3 {
  margin: 0;
  font-size: large;
  color: var(--text-info, #006ECF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.975rem;
  align-self: center;
}

/* Styles for card text */
.api_card_text p,
.card_no_link .card-text p,
.card_with_link .card_text p {
  margin: 10px 0 0 0;
  color: #66768F;
  margin: 0;
  color: var(--text-foundations-subtle, #66768F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

/* Styles for API reference tag */
.api_card_title .api_ref,
.card_no_link .card-title svg path,
.card_with_link .card_title svg path {
  stroke: #006ECF !important;
}

.api_card_title .api_ref,
.card_no_link .card-title svg,
.card_with_link .card_title svg {
  max-width: 30px;
  max-height: 24px;
  margin: 0 !important;
}

.api_card_title .api_ref {
  padding: 0.0625rem;
  background-color: #0272d9;
  color: var(--text-foundations-inverse, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 700;
  border-radius: 0.125rem;
  background: var(--background-info-bold, #006ECF);
  margin: 0;
  align-self: center;
  line-height: 0.5rem;
}
